# {{ ansible_managed }}
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']
  - job_name: storj
    static_configs:
{% for node in storj_nodes %}
      - targets: ['storj-exporter-{{ node.name }}:9651']
        labels:
          instance: '{{ node.prometheus_label }}'
{% endfor %}
{%- if storj_prometheus_external_exporter is defined -%}
{% for exporter in storj_prometheus_external_exporter %}
      - targets: ['{{ exporter.exporter_address }}']
        labels:
          instance: '{{ exporter.prometheus_label }}'
{% endfor %}
{% endif %}